body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f8fc;
    color: #1b2a49;
}

h1,h2,h3{
    color: #0b3d91
}

a {
    text-decoration: none;
    color: inherit;
}

header{
    background-color: #0b3d91;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;

}

header nav a{
    margin-left: 1.5rem;
    font-weight: bold;
    color: white;
}
.hero{
    text-align: center;
    padding: 4rem 2rem;
    background-color: #d6e4f0;
}    
.hero h1{
    font-size: 2.5rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background-color: #0b3d91;
    color: white;
    padding: 0.7rem 1,5rem;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover{
    background-color: #092b6b;
}

section{
    padding: 3rem 2rem;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    border: 1px solid #cdd6e4;
    padding: 1.5rem;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0px 4px 10px rgba(0,0,0,0,1);
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea{
    margin: 0.5rem 0;
    padding: 0.7rem;
    border: 1px solid #cdd6e4;
    border-radius: 5px;
}

button{
    border: none;
    cursor: pointer;
}
footer{
    background-color: #0b3d91;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        text-align: center;
    }
    .cards{
        flex-direction: column;
    }
}